*{
	margin:0 auto;
	text-align:left;
	font-family: Trebuchet MS;
}


h1 {
	margin-left: 2.5em;
	margin-top:0.15em;
	font-family: Arial;
	font-weight: bold;
	font-size: 3em;
}

p{
	font-size:1.3em;
	color:white;
}

table {
width:100%;
border: 4px solid #8B85C1;
height: 100vh;
}

td a {
	font-size: 1.3em;
	text-decoration: none;
	font-weight: bold; 
	color:#000000;
}

th {
	border-bottom: 3px solid #8B85C1;
	background-color: #680A0A;
	color:white;
	padding: 0.3em;
	padding-top:0.5em;
	padding-bottom: 0.5em;
}

td {
	padding-top:1em;
	padding-bottom: 1em;
	text-align: center;
}


th img {
	float:left;
	width:4em;
	height:4em;
	margin-left:0.5em;
}


tr:nth-child(odd) {
    background-color:#D0D7E2;
}
tr:nth-child(even) {
    background-color:#E0E1E2;
}

#dia{

	background-size: cover;
	height:100vh;
	border: 3px solid #8B85C1;
}

#cabecera{
	border-bottom: 3px solid #8B85C1;
	background-color: #680A0A;
	color:white;
	height: 9%;
	padding: 2%;
}


#cabecera p {
	margin-left: 2.5em;
	margin-top:0.15em;
}


#cabecera img {
	margin-top: 3%;
	width:15%;
}

#pA {
	background-color: rgba(122, 122, 122, 0.7);
	width:80%;
	margin-top:10%;
	padding: 5%;
}

#pI {
	width:30%;
	display: inline-block;
}

.max {
	text-align: center;
	font-size: 2em;
}

.min {
	text-align: center;
	font-size: 1.5em;
}

#pD {
	display: inline-block;
	text-align: center;
	padding-left: 22%;
}

#pD p{
	text-align: center;
}

.imgTiempo {
	width: 6em;
}

#pB {
	width:80%;
	margin-top: 30%;
	background-color: rgba(122, 122, 122, 0.7);
	padding: 5%;
}



